/* elementname para seleccionar un elemento */
/* #idname para seleccionar por identificador*/
#titulo {
    color: tomato;
}
/* .classname para seleccionar clases; se puede combianar con elementname */
p.texto {
    color: slateblue;
}
/* El ultimo se antepone a los anteriores */ 
p.especial {
    color: mediumaquamarine;
}
/* p siendo hijos de div seran coloreados */
div p {
    color: aquamarine;
}
div h2, div h3 {
    color: brown;
}
/* * Selector universal agaroo todo salvo sea controlado desde otra linea */
* {
    font-size: 24px;
    color: black;
}
/* hexadecimal desde 0 = oscuro hasta F = claro 
.color {   #rrggbbaa
    color: #ff0000;
}
.color {
    color: rgb(255, 255, 255);
} */
.color {
/*     border: 5px black dotted; solid,dashed or other */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
}
#fondo {
    background-color: rgb(255, 0, 0);
    opacity: 0.3;
}
/* minuto 48 */